name: Build

on:
  push:
    branches-ignore:
      - main
  workflow_call:
    inputs:
      artifacts:
        type: boolean
        default: false

jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Switch to Node 22
        uses: actions/setup-node@v6
        with:
          node-version: 22

      - name: Install dependencies
        run: npm ci

      # Lint and Test ...

      - name: Build
        run: npm run build

      - name: Upload artifacts
        if: inputs.artifacts
        uses: actions/upload-artifact@v6
        with:
          path: dist # take everything from dist/ folder
