name: Dev Release

on:
  workflow_dispatch:

jobs:
  Build:
    uses: ./.github/workflows/build.yml
    with:
      artifacts: true
    secrets: inherit
    permissions:
      contents: read
      id-token: write

  Release:
    needs: Build
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Download artifacts
        uses: actions/download-artifact@v7
        with:
          path: s3

      - name: Release
        uses: agilecustoms/release@v4
        with:
          dev-release: true
