name: Build

on:
  push:

jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Node
        uses: actions/setup-node@v5
        with:
          node-version: 23
          cache: npm

      - name: Install dependencies
        run: npm ci

      # Lint, Test, other quality checks

      - name: Build
        run: npm run build

      - name: Upload artifacts
        if: github.ref == 'refs/heads/main'
        uses: actions/upload-artifact@v5
        with:
          path: dist # take everything from dist/ folder

  Release:
    if: github.ref == 'refs/heads/main'
    needs: Build
    runs-on: ubuntu-latest
    environment: release
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Download artifacts
        uses: actions/download-artifact@v5
        with:
          path: dist

      - name: Release
        uses: agilecustoms/release@v3
        with:
          pre-publish-script: sed -i -E "s/(envctl-cache-key-)[^\n]+/\1$version/" "action.yml"
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPMJS_TOKEN }}
